#draggable {
    width: 300px;
    height: 80px;
    text-align: center;
    background: white;
}

.dropzone {
    width: 400px;
    height: 40px;
    background: orangered;
    margin-bottom: 20px;
    padding: 20px;
}