#draggable {
    width: 300px;
    height: 80px;
    text-align: center;
}

.dropzone {
    width: 500px;
    height: 110px;
    background: orangered;
    margin-bottom: 50px;
    margin-top: 100px;
    padding: 20px;
    position: absolute;
}